body
{
	background-color: #e8f1f2;
}
header
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-bottom: solid #1b98e0 1px;
}
header h1
{
	white-space: nowrap;
	font-size: 25px;
	display: block;
	text-align: center;
	color: #006494;
	font-family: 'Karla', sans-serif;
}

header nav ul
{
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
	padding: 0;
}
header nav ul li
{
	white-space: nowrap;
	display: flex;
	align-items: center;
	padding: 10px;
	height: 100%;
	font-size: 18px;
	font-family: 'Karla', sans-serif;
	color: #13293d;
}
header nav ul li a
{
	color: #006494;
	text-decoration: none;
	font-family: 'Karla', sans-serif;
}
header nav ul li a:hover
{
	color: #1b98e0;
	text-decoration: none;
}
main h2
{
	font-size: 25px;
	text-align: center;
	color: #1b98e0;
	font-family: 'Karla', sans-serif;
}
#chaptersList
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.chapter
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40%;
	height: 200px;
	padding: 20px;
	padding-bottom: 30px;
	border-radius: 10px;
	background-color: #1b98e0;
	margin-bottom: 20px;
	color: #e8f1f2;
	font-family: 'Martel', sans-serif;
}
.chapter h3
{
	margin-top: 0;
	font-family: 'Karla', sans-serif;
	color: #13293d;
}
.readButton
{
	text-align: right
}

.readButton a
{
	color: #006494;
	text-decoration: none;
	font-family: 'Karla', sans-serif;
	background-color: #e8f1f2;
	padding: 10px;
	border-radius: 10px;	
}font-family: 'Karla', sans-serif;
.readButton a:hover
{
	color: #1b98e0;
	text-decoration: none;
}
main .chapterContent
{
	width: 80%;
	color: #13293d;
	margin: auto;
	line-height: 1.5;
	font-family: 'Martel', sans-serif;
}
main .chapterEnd
{
	width: 80%;
	margin: auto;
	text-align: right;
	font-family: 'Martel', sans-serif;
	color: #13293d;
}
#comments
{
	width: 80%;
	margin: auto;
}
.comment fieldset
{
	margin-top: 20px;
	border-radius: 10px;
	border: solid #1b98e0 1px;
}
.comment p
{
	font-family: 'Martel', sans-serif;
	color: #13293d;
}
main h3
{
	font-size: 18px;
	color: #1b98e0;
	font-family: 'Karla', sans-serif;
	padding-right: 5px;
}
.divider
{
	width: 80%;
	margin: auto;
	border-left: none;
	border-right: none;
	border-bottom: none;
    padding-inline-start: 0;
    border-top: solid #1b98e0 1px;

}
.comment legend
{
	margin-top: 0;
	font-family: 'Karla', sans-serif;
	color: #13293d;
}
.comment legend h4
{
	margin: 0;
}
#commentForm
{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
#commentForm fieldset
{
	border-radius: 10px;
	border: solid #1b98e0 1px;
}
#fieldsetDiv
{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#commentForm legend
{
	margin-top: 0;
	font-family: 'Karla', sans-serif;
	color: #13293d;
}
#commentForm textarea
{
	flex:1;
	margin: 0;
	display: block;
	resize: none;
	color: #13293d;
	font-family: 'Martel', sans-serif;
	height: 100px;
	padding: 5px;
	border-radius: 10px;
}
#commentForm input
{
	margin: 0;
	display: block;
	border-radius: 10px;
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	color: #e8f1f2;
	background-color: #1b98e0;
	height: 50px;
	border: none;
	margin-left: 10px;
	cursor: pointer;
}
.button
{
	text-align: center;
	margin-top: 20px;
}
main a
{
	padding: 10px;
	border-radius: 10px;
	background-color: #1b98e0;
	text-decoration: none;
	color: #e8f1f2;
	font-family: 'Karla', sans-serif;
}
.comment .button
{
	text-align: left;
	margin-bottom: 10px;
	margin-top: 25px;
}
.noComments
{
	text-align: center;
	color: #13293d;
	line-height: 1.5;
	font-family: 'Martel', sans-serif;
}
#dashBoard ul
{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
	padding: 0;
}
#dashBoard li
{
	display: inline-block;
	list-style-type: none;
}
#dashBoard ul a
{
	margin-bottom: 10px;
}
.buttons
{
	display: flex;
}
.buttons .button:last-child
{
	margin-left: 20px;
}
#reportedComments
{
	width: 80%;
	margin: auto;
}
#chapterForm label
{
	color: #13293d;
	line-height: 1.5;
	font-family: 'Martel', sans-serif;
}
#chapterForm input[type="submit"]
{
	display: block;
	border-radius: 10px;
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	color: #e8f1f2;
	background-color: #1b98e0;
	height: 50px;
	border: none;
	margin-top: 10px;
	cursor: pointer;
}
#chapterForm input[type="text"]
{
	flex: 1;
	border-radius: 10px;
	font-family: 'Karla', sans-serif;
	font-size: 18px;
	color: #13293d;
	height: 30px;
	border: none;
	margin-left: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
#chapterForm p
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#chapterForm textarea
{
	height: 50vh;
	color: #13293d;
	line-height: 1.5;
	font-family: 'Martel', sans-serif;
}
#editRemChapters
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}
#editRemChapters .chapter
{
	background-color: transparent;
	border: solid #1b98e0 1px;
	height: 100px;

}
.chapter h3
{
	text-align: center;
}
.buttons
{
	display: flex;
	justify-content: center;
}
.buttons .editButton
{
	margin-right: 10px;
}
@media all and (max-width: 900px)
{
	header
	{
		flex-direction: column;
	}
}
@media all and (max-width: 640px)
{
	header nav ul
	{
		height: auto;
		flex-direction: column;
	}
	#chaptersList
	{
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
	}
	.chapter
	{
		width: auto;
	}
	main .chapterContent
	{
		width: 100%;
	}
	main .chapterEnd
	{
		width: 100%;
	}
	#comments
	{
		width: 100%;
	}
	.divider
	{
		width: 100%;
	}
	#commentForm
	{
		width: 100%;
	}
	#reportedComments
	{
		width: 100%;
	}
	#chapterForm p
	{
		flex-direction: column;
	}
	#chapterForm input[type="text"]
	{
		flex: none;
		width: 90%;
	}
	#chapterForm input[type="submit"]
	{
		margin-left: auto;
		margin-right: auto;
	}
}